$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  width: 50px;
  height: 40px;
  background: #fff;
  border: 4px solid #000;
  cursor: pointer;
  margin: 0px;
}

td {
  margin: 0px;
  padding: 0px;
}

div {
  text-align: center;
}

.wrapper, table {
  margin: 20px auto;
}

